body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin:200px auto;
    background-color: #FBEAEB;
} 
input{
    border:1px solid #2F3C7E;
    height:25px;
    font-weight: bold;
    font-size:15px;
}
h1{
    margin-bottom:20px;
}
.submitButton{
    background-color: #2F3C7E;
    border:1px solid  #2F3C7E;
    height:30px;
    color:white;
    font-size: 15px;
}
.error-msg {
    color: #d03d26;
    display: none;
  }
  main{
    text-align: center;
  }

  .card {
    background-color:#2F3C7E;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color:white;
    margin-top:20px;
    font-weight: bold;
    font-size: 20px;
  }
  button {
    all: unset;
    border-radius: 50%;
    background: #2F3C7E;
    width: 60px;
    height: 60px;
    transition: all 0.5s ease;
    margin-bottom: 20px;
  }

  @keyframes example {
    from{
     color:black;
     transform:scale(0.7);
    }
    to{
     color:#2F3C7E;
     transform:scale(1.1);
 
    }
    
 }
  h1{
     animation-name:example;
     animation-duration:3s;
     animation-iteration-count:infinite;
     animation-timing-function: ease-in-out;
  } 